doctype html
html(lang="en-US", ng-app="angularAddresses")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Addresses
  body(ng-controller="name= "Main")
    .container
    h1 (ng-repeat="name in names | orderBy") Hello {{name}}!
    input(placeholder="Your Name", ng-model="name")

    script(src="lib/build.js")
    script(src="js/main.js")







